@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$button-border: 3px solid #5a6268;
$bg-darker: 100px 100px 100px 100vw rgba(0, 0, 0, 0.4) inset;
$mainFont: 'Montserrat', sans-serif;

body {
  font-family: $mainFont;
}

@mixin hover {
  color: #333;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:hover {
    background-color: #5a6268;
    color: #fff;
  }
}

@mixin background-dark {
  background: url("images/startup1.jpeg") center;
  background-size: auto;
  box-shadow: $bg-darker;
}

@mixin auth {
  @include background-dark;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-focused {
  &:focus {
    box-shadow: none;
  }
}

@mixin link-focused {
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

@mixin section-header {
  color: #fff;
  padding-top: 70px;
  h2 {
    font-size: 2.5em;
    color: #666;
  }
}