@import "Helpers";

.help-offers {
  margin-bottom: 50px;
}

.user-info {
  color: #000;
  height: 20vh;
  margin-top: 100px;
}

.help-requests {
  height: 20vh;
}

.add-offer {
  @include hover;
  border: $button-border;
}

.competitors {
  margin-top: 60px;
  margin-bottom: 60px;
}

.competitor, .help-offer {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05, 1.05);
    border-radius: 10px;
  }
}