@import "Helpers";

.cv {
  margin-top: 100px;
  background-color: #e1e1e1;
}

.card-img {
  height: 100%;
}

.show-git_btn {
  @include hover;
  border: $button-border;
}

.edit-profile_btn {
  @include hover;
  border: $button-border;
}

.edit-profile_forms {
  margin-top: 20px;
  margin-bottom: 50px;
}

.card {
  border: none;
}

.jobs {
  margin-top: 50px;
  margin-bottom: 50px;
}